<!-- Inicio contenido principal -->
<section class="content">

	<!-- Inicio artículo principal -->
	<article class="jmain">

		<!-- Inicio encabezado principal -->
		<header>
			<h1>JTools</h1>
		</header>
		<!-- Fin encabezado principal -->

		<!-- Inicio contenido -->
		<div class="content">
		
			<p>
				Éste plugin contiene un conjunto de funciones base para los plugins de Jerc Tools, estas funciones son de uso común, contiene además expresiones regulares para la identificación de ciertos patrones en los textos, como por ejemplo isDate, para validar si es una fecha la cadena de texto evaluada.
			</p>
			<p>
				Se integra el API de formularios, agrupando funciones para la validación de los datos ingresados. Para usar éste plugin se debe usar JMain.
			</p>

			<!-- Inicio métodos -->
			<div class="methods">

				<!-- Inicio lista métodos -->
				<ul>
					<li>
						<h3 class="main">API</h3>
					</li>
					<li>
						<h3 class="title"><i class="fa fa-chevron-right "></i> fnInsertAfter()</h3>

						<!-- Inicio content -->
						<div class="content">
							<p>
								Se puede insertar un elemento enseguida del otro, esto sin tener que agregarlo siempre al final del elmento contenedor, los parámetros que recibe son: el elemento de referencia, y el nuevo elemento.
							</p>
							<p>
								Para el siguiente ejemplo se moverá un elemento enseguida de otro.
							</p>
							<div>
								Seleccione el elemento de referencia
								<select id="slReferencia">
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
								</select>
								  y el elemento que debe ir enseguida: 
								<select id="slNuevo">
									<option value="1">1</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
								</select>
							</div>
							<ul id='contentInsert' class="listExample">
								<li class='ins1'>1</li>
								<li class='ins2'>2</li>
								<li class='ins3'>3</li>
								<li class='ins4'>4</li>
								<li class='ins5'>5</li>
							</ul>
<pre><code>document.querySelector('#slNuevo').addEventListener('change', fnInsertAfter, false);
document.querySelector('#slReferencia').addEventListener('change', fnInsertAfter, false);

//---------------------------------
// Función de ejemplo, fnInsertAfter
function fnInsertAfter(e) {
    var seleccionado = this;
    var referencia = document.querySelector(this.id == 'slReferencia' ? '#slNuevo' : '#slReferencia');

    // Se crea el elemento option en el select no seleccionado
    for(var i = 1; i < 6; i++) {
        if(Array.prototype.fnFind.call(referencia.childNodes, function(e) { return e.value == i.toString(); })) 
            continue;
        
        var elemento = document.createElement('option');
        elemento.value = i; 
        elemento.textContent = i;
        
        if(i == 5) referencia.appendChild(elemento);
        else referencia.insertBefore(elemento, referencia.childNodes[i - 1]);
    } // end for

    // Se agrega el elemento option en el select no seleccionado
    var antiguo = referencia.querySelector('[value="' + seleccionado.selectedOptions[0].value + '"]');
    if(antiguo) referencia.removeChild(antiguo);

    // Se obtiene el valor de referencia y el valor del elemento nuevo
    var content = document.querySelector('#contentInsert');
    var nuevo = content.querySelector('.ins' + document.querySelector('#slNuevo').selectedOptions[0].value);
    referencia = content.querySelector('.ins' + document.querySelector('#slReferencia').selectedOptions[0].value);
    
    // Se mueve el elemento
    j.tools.fnInsertAfter(referencia, nuevo);
} // end function
//---------------------------------</code></pre>

						</div>
						<!-- Fin content -->
					</li>
					<li>
						<h3 class="title"><i class="fa fa-chevron-right "></i> fnBind()</h3>

						<!-- Inicio de contenudo -->
						<div class="content">
							<p>
								Función para asignar el texto retornado por la función fnGetFile, en la que se solicite al servidor un archivo plano, como los htmls, para ver como funciona se solicitará un archivo html (jtools-bind.html), la función fnGetFile recibirá un objeto con la propiedad query y éste a su vez será el identificador para referenciar el elemento en el cual deberá ser asignado el texto de la petición.
							</p>
							<p>
								El siguiente botón ejecutará la función que hará la petición al servidor, y enseguida del botón en elemeno output#opBind se mostrará el contenido del archivo html solicitado.
								<div>
									<button id="btnBind" class="button">Solicitar HTML</button>
									<output id="opBind"></output>
								</div>
							</p>

<pre><code>// fnBind
document.querySelector('#btnBind').addEventListener('click', fnBind, false);

//---------------------------------
// Función de ejemplo, fnBind
function fnBind() {
	// Se hace la petición
    fnGetFile({ 
        src: 'views/jtools/jtools-bind.html', 
        mime: 'text', query: '#opBind', 
        // Función de Calllback
        fnCall: j.tools.fnBind
    }); // end fnCall
} // end function
//---------------------------------</code></pre>

						</div>
						<!-- Fin de contenudo -->

					</li>
					<li>
						<h3 class="title"><i class="fa fa-chevron-right "></i> fnDeleteTag()</h3>

						<!-- Inicio de contenudo -->
						<div class="content">
							<p>
								Función para eliminar un elemento del HTML seleccionado.
							</p>
							<p>
								El siguiente ejemplo muestra como usar esta función, de clic en el elemento de la lista y éste será eliminado.	
							</p>
							<ul id='ulDeleteTag' class="listExample">
								<li class='ins1'>1</li>
								<li class='ins2'>2</li>
								<li class='ins3'>3</li>
								<li class='ins4'>4</li>
								<li class='ins5'>5</li>
							</ul>

<pre><code>// fnDeleteTag
var delTags = document.querySelectorAll('#ulDeleteTag li');
Array.prototype.map.call(delTags, function(tag) {
    tag.addEventListener('click', fnDeleteTag, false);
});

//--------------------------------
// Función de ejemplo, fnDeleteTag
function fnDeleteTag() {
    // Se elimina el elemento (this) en donde se hace clic
    j.tools.fnDeleteTag(this);

    // Una vez se eliminen todos los elementos se crean de nuevo
    var delTags = document.querySelector('#ulDeleteTag');
    if(delTags.children.length != 0) return;
    for(var i = 1; i < 6; i++) {
        var li = document.createElement('li');
        li.classList.add('ins' + i);
        li.textContent = i;
        li.addEventListener('click', fnDeleteTag, false);
        delTags.appendChild(li);
    } // end for
} // end function
//--------------------------------</code></pre>

						</div>
						<!-- Fin de contenudo -->

					</li>
					<li>
						<h3 class="title"><i class="fa fa-chevron-right "></i> fnParseJsonDate()</h3>

						<!-- Inicio de contenudo -->
						<div class="content">
							<p>
								Crea un objeto Date, como parámetro recibe una fecha en formato json.
							</p>
							<p>
								El siguiente ejemplo muestra como usar esta función, se crea un onjeto Date a partir de la fecha /Date(1335205592410)/.	
							</p>
<pre><code>// Fecha que es convertida al serializar un DateTime de .Net
var jsonDate = /Date(1335205592410)/;
var objetoDate = j.tools.fnParseJsonDate(jsonDate);
console.log(objetoDate.getFullYear() + '-' + objetoDate.getMonth() + '-' + objetoDate.getDay());
</code></pre>

						</div>
						<!-- Fin de contenudo -->

					</li>
					<li>
						<h3 class="title"><i class="fa fa-chevron-right "></i> fnNow()</h3>

						<!-- Inicio de contenudo -->
						<div class="content">
							<p>
								Toma la fecha y hora actual y retorna esta información como una cadena de texto. (yyyy-MM-dd hh:mm)
							</p>
							<p>
								El siguiente ejemplo muestra como usar esta función, se obtiene la fecha del sistema.
							</p>
<pre><code>console.log(j.tools.fnNow());</code></pre>

						</div>
						<!-- Fin de contenudo -->

					</li>
					<li>
						<h3 class="title"><i class="fa fa-chevron-right "></i> fnFindOnWorker()</h3>

						<!-- Inicio de contenudo -->
						<div class="content">
							<p>
								Función para encontrar un objeto dentro de una arreglo en un segundo plano, es decir; esta búsqueda se realizará en un Worker. Como parámetro se recibe un objeto con las propiedades fnCall (función del callback), key (nombre de la propiedad a evaluar), value (valor a comparar con os objetos) y src (arreglo de objetos).
							</p>
							<p>
								El siguiente ejemplo muestra como usar esta función, se encuentra un objeto dentro del arreglo personas.
							</p>
<pre><code>var personas = [
	{ pkPersona: 20, nombre: 'Anna' },
	{ pkPersona: 10, nombre: 'Jaime' },
	{ pkPersona: 99, nombre: 'Lina' },
	{ pkPersona: 32, nombre: 'Steven' }
];

j.tools.fnFindOnWorker({
	src: personas,
	key: 'pkPersona',
	value: 99,
	fnCall: function(objeto) {
		console.log(objeto.nombre);
	} // end fnCall
});</code></pre>

						</div>
						<!-- Fin de contenudo -->

					</li>
					<li>
						<h3 class="title"><i class="fa fa-chevron-right "></i> fnExec()</h3>

						<!-- Inicio de contenudo -->
						<div class="content">
							<p>
								Función para validar un objeto y si es una función ejecutarla, como parámetros recibe la función de ejecución, junto con los parámetros para enviar a la función, estos parámetros deben estar contenido en un arreglo.
							</p>
							<p>
								El siguiente ejemplo muestra como usar esta función, se pasa una función anonima, y los parámetros necesarios para usar la función.
							</p>
<pre><code>var nombre = 'Lina', apellido = 'Contreras';
j.tools.fnExec(function(name, lastName) {
	console.log(name + ' ' + lastName);
}, [ nombre, apellido ]);</code></pre>

						</div>
						<!-- Fin de contenudo -->

					</li>
					<li>
						<h3 class="title"><i class="fa fa-chevron-right "></i> fnNotification()</h3>

						<!-- Inicio de contenudo -->
						<div class="content">
							<p>
								Función para simplicar la forma en como se utiliza el plugin <a href="http://sciactive.com/pnotify" target='_blank'>Pnotify</a>. Consiste en brindar una notificación y poder personalizarla, dentro de los parámetros que recibe se encuentran: text (texto que se mostrará en la notificación) y type ('error' o 'success').
							</p>
							<p>
								El siguiente ejemplo muestra como usar la función, con los dos tipos de notificaciones.
							</p>
							<div class="buttons">
								<button id='btnOk' class="button">Notificación OK</button>
								<button id='btnError'class="button">Notificación Error</button>
							</div>
<pre><code>// fnNotification
fnInitNotification();

//--------------------------------
// Función para usar el método j.tools.fnNotification.
function fnInitNotification() {
    document.querySelector('#btnOk').addEventListener('click', function() {
        j.tools.fnNotification({ text: 'La operación se realizó con éxito.', type: 'success' });
    }, false);

    document.querySelector('#btnError').addEventListener('click', function() {
        j.tools.fnNotification({ text: 'Se presento un error intentelo más tarde.', type: 'error' });
    }, false);
} // end function
//--------------------------------</code></pre>

						</div>
						<!-- Fin de contenudo -->

					</li>
					<li>
						<h3 class="main">API Formularios</h3>
					</li>
					<li>
						<h3 class="title"><i class="fa fa-chevron-right "></i> fnForm()</h3>

						<!-- Inicio de contenudo -->
						<div class="content">
							<p>
								Función para agregar un conjunto de herramientas para la captura de información dentro del formulario, dentro de estas se encuentra limpiar el formulario, validarlo, obtener los datos, y agregar datos ingresados en los formularios.
							</p>
							<p>
								El siguiente código muestra como adicionar las funciones de de ayuda para los formularios.
							</p>

<pre><code>var formulario = document.querySelector('form#fmEjemplo');
j.tools.fnForm(formulario);</code></pre>

						</div>
						<!-- Fin de contenudo -->

					</li>
					<li>
						<h3 class="title"><i class="fa fa-chevron-right "></i> fnClean()</h3>

						<!-- Inicio de contenudo -->
						<div class="content">
							<p>
								Función para limpiar los controles del formulario, para usar esta función se debe usar la función fnForm sobre el formulario con anterioridad. Cuando es usada esta función se elimina el atributo data-state el cual indica el estado del formulario, lo mismo sucede con la clase .validate, que indica si el formulario ha sido validado.
							</p>
							<p>
								El texto de los controles que no son de captura de información span y output se limpian, los controles que tengan la propiedad data-disabled se les agregará el atributo disabled, para los controles con atributo data-not-disabled, se eliminara éste atributo, para los elementos hidden con el atributo data-block se mantendrá el valor del elmento.
							</p>
							<p>
								El primer botón del formulario que tenga el atributo data-accion, será eliminado éste atributo cuando se limpie el formulario.
							</p>
							<p>
								El atributo data-bind de los elementos, input, select, textarea, span y output, será eliminado una vez se limpie el formulario.
							</p>
							<p>
								El siguiente ejemplo muestra como funciona la función fnClean en un formulario.
							</p>
							
							<form id="fmfnForm">
								<article class='form two active'>
									<header>
							            <h4><i class="fa fa-chevron-right"></i>Formulario de Ejemplo</h4>
							        </header>
							        <fieldset>
							            <ul>
							                <li class="fade">
							                	<input type="hidden" data-bind='id' />
							                </li>
							                <li>
							                	<label for="itNombre">Nombre:</label>
							                	<input data-bind="nombres" id="itNombre" placeholder="Ingrese los nombres" required />
							                	<span class="tooltipForm">Ingrese los nombres</span>
							                </li>
							                <li>
							                	<label for="slPais">Nacionalidad:</label>
							                	<select data-bind="pais" id="slPais" required>
							                		<option value="">Seleccione un páis</option>
							                		<option value="CO">Colombia</option>
							                		<option value="EU">Estados Unidos</option>
							                	</select>
							                	<span class="tooltipForm">Seleccione un país</span>
							                </li>
							                <li>
							                	<label for="slCiudad">Ciudad de nacionalidad:</label>
							                	<select data-bind="ciudad" id="slCiudad" required disabled data-disabled>
							                		<option value="">Seleccione una ciudad</option>
							                		<option value="01">Bogotá D.C.</option>
							                	</select>
							                	<span class="tooltipForm">Seleccione un país</span>
							                </li>
											<li class="lineal">
							                	<label for="irDesarrollador">¿Eres desarrollador?:</label>
							                	<input data-bind="esDesarrollador" name="EsDesarrollador" type="radio" value="Si" /> Si
							                	<input data-bind="esDesarrollador" name="EsDesarrollador" type="radio" value="No" /> No
							                </li>
							                <li class="fade" data-fade>
							                	<label for="icLenguaje">Lenguaje de programación preferido:</label>
							                	<input data-bind="lenguaje" type="checkbox" value="JavaScript" /> JavaScript
							                	<input data-bind="lenguaje" type="checkbox" value="C#" /> C#
							                	<input data-bind="lenguaje" type="checkbox" value="Java" /> Java
							                	<input data-bind="lenguaje" type="checkbox" value="VB" /> VB
							                </li>
							            </ul>
							        </fieldset>
								</article>
								<!-- Inicio sección para los botones del formulario -->
								<div class="buttons">
								    <button id="btnCleanfnForm" class="button" formnovalidate>Limpiar</button>
								    <button id="btnFillfnForm" class="button" formnovalidate>Llenar</button>
								</div>
								<!-- Fin sección para los botones del formulario -->
							</form>

<pre><code>// fnForm
fnInitFormClean();

//--------------------------------
// Función de ejemplo, fnForm.fnClean
function fnInitFormClean() {
    // Se inicia el forrmulario-
    var form = document.querySelector('#fmfnForm');
    j.tools.fnForm(form);

    // Se agrega comportamiento del select Ciudad.
    var ciudad = document.querySelector('#slCiudad');
    document.querySelector('#slPais').addEventListener('change', function () {
        if (this.value == 'CO') ciudad.removeAttribute('disabled');
        else {
            ciudad.setAttribute('disabled', '');
            ciudad.value = '';
        } // end else
    }, false);

    // Se agrega comportamiento del readio EsDesarrollador.
    var checks = document.querySelectorAll('input[name="EsDesarrollador"]');
    var lenguajes = document.querySelector('label[for="icLenguaje"]').parentNode;
    checks[0].addEventListener('click', function () {
        if(this.checked) lenguajes.classList.remove('fade');
    }, false); // end if
    checks[1].addEventListener('click', function () {
        if(this.checked) lenguajes.classList.add('fade');
    }, false); // end if

    // Se agrega comportamiento en los botones de Limpiar.
    document.querySelector('#btnCleanfnForm').addEventListener('click', function(e) {
        e.preventDefault();
        this.form.fnClean();
    });

    // Se agrega comportamiento en los botones de Llenar.
    document.querySelector('#btnFillfnForm').addEventListener('click', function(e) {
        e.preventDefault();
        fnSet.call(this, ciudad, lenguajes);
    });

    // Se llena el formulario
    fnSet.call(null, ciudad, lenguajes, form);
} // end function
//--------------------------------

//--------------------------------
// Función para llenar el formulario con datos.
function fnSet(ciudad, lenguajes, form) {
    var formulario = form || this.form
    formulario.fnSet({
        nombres: 'Julian Ruiz',
        pais: 'CO',
        ciudad: '01',
        esDesarrollador: 'Si',
        lenguaje: ['JavaScript', 'C#']
    }); // end fnSet
    ciudad.removeAttribute('disabled');
    lenguajes.classList.remove('fade');
} // end function
//--------------------------------</code></pre>

						</div>
						<!-- Fin de contenudo -->

					</li>
					<li>
						<h3 class="title"><i class="fa fa-chevron-right "></i> fnIsValid()</h3>

						<!-- Inicio de contenudo -->
						<div class="content">
							<p>
								Función para validar la información del formulario, para usar esta función se debe usar la función fnForm sobre el formulario con anterioridad. Cuando es usada esta función se agregará la clase validated en el formulario, retorna verdadero o false si es correcto o tiene errores el formulario respectivamente.
							</p>
							<p>
								El siguiente código muestra como verificar si la información del formulario es correcta.
							</p>
							<form id="fmfnIsValid">
								<article class='form one active'>
									<header>
							            <h4><i class="fa fa-chevron-right"></i>Validar Formulario</h4>
							        </header>
							        <fieldset>
							            <ul>
							                <li class="fade">
							                	<input type="hidden" data-bind='id' />
							                </li>
							                <li>
							                	<label for="itNombre">Nombre:</label>
							                	<input id="itNombre" placeholder="Ingrese su nombre" required />
							                	<span class="tooltipForm">Ingrese su nombre</span>
							                </li>
							                <li>
							                	<label for="ieCorreo">Correo:</label>
							                	<input id="ieCorreo" type="email" placeholder="ejemplo@dominio.com" required />
							                	<span class="tooltipForm">Ingrese su correo electrónico</span>
							                </li>
							            </ul>
							        </fieldset>
								</article>
								<!-- Inicio sección para los botones del formulario -->
								<div class="buttons">
								    <button id="btnfnValidate" class="button" formnovalidate>Validar</button>
								</div>
								<!-- Fin sección para los botones del formulario -->
							</form>

<pre><code>// fnIsValidity
fnInitIsValidity();

//--------------------------------
// Función para usar el método j.tools.fnIsValidity
function fnInitIsValidity() {
     // Se inicia el forrmulario-
    var form = document.querySelector('#fmfnIsValid');
    j.tools.fnForm(form);
    
    // Se valida ek formulario
    document.querySelector('#btnfnValidate').addEventListener('click', function(e) {
        e.preventDefault();
        var correcto = this.form.fnIsValid();
        if(correcto) j.tools.fnNotification({ text: 'Formulario correcto.', type: 'success' });
        else j.tools.fnNotification({ text: 'Formulario incorrecto.', type: 'error' });
    }, false);
} // end function
//--------------------------------</code></pre>

						</div>
						<!-- Fin de contenudo -->

					</li>
					<li>
						<h3 class="title"><i class="fa fa-chevron-right "></i> fnGet()</h3>

						<!-- Inicio de contenudo -->
						<div class="content">
							<p>
								Función para obtener la información del formulario, para usar esta función se debe usar la función fnForm sobre el formulario con anterioridad. Como parámetro recibe verdadero o falso para determinar la forma en como retornará la información si como un objeto o como un arreglo.
							</p>
							<p>
								El siguiente código muestra como obtener la información de un formulario.
							</p>
							

<pre><code>// fnGet
// Se inicia el forrmulario
var form = document.querySelector('#fmfnForm');
j.tools.fnForm(form);
// Obtener información en objeto
console.log(form.fnGet());
// Obtener información en array
console.log(form.fnGet(true));</code></pre>

						</div>
						<!-- Fin de contenudo -->

					</li>
					<li>
						<h3 class="title"><i class="fa fa-chevron-right "></i> fnSet()</h3>

						<!-- Inicio de contenudo -->
						<div class="content">
							<p>
								Función para agregar información dentro del formulario, para usar esta función se debe usar la función fnForm sobre el formulario con anterioridad. Como parámetro recibe un objeto, con los nombre de las propiedades buscará en los controles del formulario como 
							</p>
							<p>
								El siguiente código muestra como agregar información en un formulario.
							</p>
							

<pre><code>// fnSet
// Se inicia el forrmulario
var form = document.querySelector('#fmfnForm');
j.tools.fnForm(form);
form.fnSet({
	id: 20,
    nombres: 'Julian Ruiz',
    pais: 'CO',
    ciudad: '01',
    esDesarrollador: 'Si',
    lenguaje: ['JavaScript', 'C#']
}); </code></pre>

						</div>
						<!-- Fin de contenudo -->

					</li>
				</ul>
				<!-- Fin lista métodos -->

			</div>
			<!-- Fin métodos -->

		</div>
		<!-- Fin contenido -->

	</article>
	<!-- Fin artículo principal -->

</section>
<!-- Fin contenido principal -->