<li><h3 class="main">Espacio de Nombres</h3></li><li><div class="content static"><p>Nuestro código puede estar mejor estructurado con espacios de nombres, así podemos dividir funcionalidades dentro de la aplicación. Hay diferentes formas de crearlos, por ejemplo:</p> <pre><code>var myApp = {};
myApp.tools = {};
myApp.tools.fnPrint = function (text) {
	console.log(text);
};
myApp.tools.fnPrint('¡Hola Luna!');
</code></pre> <p>La solución propuesta para crear un espacio de nombres es la función Namespace. La cual crea un espacio de nombres por cada instancia, tendrá una función addNS para crear un nuevo espacio de nombres, para ello recibe el nombre del espacio de nombres y retorna dicho objeto.</p></div></li><li><details><summary class="title"><i class="fa fa-chevron-right"></i> jr.namespace</summary><div class="content"><p>Namespace crea una estructura para seguir agregando espacios de nombres mediante el uso de addNS.</p> <pre><code>var myApp = new jr.namespace();
myApp.addNS('tools');
myApp.tools.fnPrint = function (text) {
	console.log(text);
};
myApp.tools.fnPrint('¡Hola Luna!');</code></pre> <p>Otra característica de usar espacio de nombres, es encapsular tanto variables como métodos, para esto se puede usar el patrón de diseño modular, para la creación de esta técnica se usa una función anónima autoejecutable, que retorne la funcionalidad.</p> <pre><code>var myApp = new jr.namespace();
(function () {
	this.fnPrint = function (text) {
		console.log(text);
	};
}).call(myApp.addNS('tools'));
myApp.tools.fnPrint('¡Hola Luna!');

// Otra forma de usar el plugin es pasando el espacio de nombre
var nsMyApp = new Namespace('tools.printer');
nsMyApp.tools.printer = myApp.tools;
nsMyApp.tools.printer.fnPrint('¡Hola de nuevo!');</code></pre> </div></details></li><li><details><summary class="title"><i class="fa fa-chevron-right"></i> jr.namespace.addNS()</summary><div class="content"><p>Se agrega un espacio de nombres al namespace, recibe dos parámetros el primero el nombre del espacio de nombre para adicionar, y el segundo como opcional que puede ser un objeto o una función.</p> <pre><code>var myApp = new jr.namespace();
myApp.addNS('$', query => document.querySelectorAll(query));
console.log(myApp.$('.title')[0].textContent);

myApp = new jr.namespace();
myApp.addNS('selector', {
	unico: query => document.querySelector(query),
	multiple: query => document.querySelectorAll(query)
});
console.log(myApp.selector.unico('.title').textContent, myApp.selector.multiple('.title')[0].textContent);
</code></pre> </div></details></li><li><details><summary class="title"><i class="fa fa-chevron-right"></i> jr.import()</summary><div class="content"><p>Busca en la variable window el espacio de nombre ingresado como parámetro, se retornará el objeto que coincida con el valor buscado, o se asigna null y se elimina (solo si se puede eliminar la propiedad), si se pasa en el segundo parámetro un true.</p> <pre><code>var myApp = new jr.namespace();
(function () {
	this.print = function (text) {
		console.log(text);
	};
}).call(myApp.addNS('tools'));

(function() {
	var fnPrint = jr.import('myApp.tools.print');

	this.sum = function() {
		var total = 0,
			tamanioArreglo = arguments.length;

		for(var i = 0; i < tamanioArreglo; i++)
			total += arguments[i]; 
		
		fnPrint(total);
	};
}).call(myApp.addNS('calc'));

myApp.calc.sum(1, 1, 1);
jr.import('myApp.calc.sum', true);
myApp.tools.print(myApp.calc.hasOwnProperty('sum'));
</code></pre> </div></details></li>