<li><h3 class="main">Patrones de Diseño</h3></li><li><h3 class="title"><i class="fa fa-chevron-right"></i> Command()</h3><div class="content"><p>Patrón para administrar métodos y ejecutarlos dinámicamente, hemos usado éste patrón en jquery cuando registramos un litener de eventos con el método on, para elimiar el listener usamos el método off, y trigger para ejecutar el evento que queremos.</p><p>Para obtener la instancia del patrón debemos ir al espacio de nombres: patterns.command.instance;</p><p>En nuestro ejemplo vamos a simular una petición al servidor, donde se enviará servidor (simulado) la cadena de texto "I Like" en el evento request, y éste concatenará "Music, " y la fecha de la respuesta, esto en el evento serverWork, y finalmente se imprimira la cadena de texto resultante "I Like Music, Date()" en el evento response.</p> <pre><code>
	var command = patterns.command.instance,
		METHODS = { request: 'peticion', serverWork: 'trabajoServidor', response: 'respuesta' },
		TEXT = 'I Like';

	// Petición
	command.on(METHODS.request, function(textToSend) {
		command.trigger(METHODS.serverWork, textToSend);
	});

	// Trabajo del Servidor
	command.on(METHODS.serverWork, function(textOnRequest) {
		var ENDTEXT = ' Music, ';
		command.trigger(METHODS.response, textOnRequest + ENDTEXT, Date());
	});	

	// Respuesta
	command.on(METHODS.response, function(textToPrint, date) {
		// Se eliminan los liteners
		command.off(METHODS.request);
		command.off(METHODS.serverWork);
		console.log(textToPrint, date);
	});	

	// Se incia la petición
	command.trigger(METHODS.request, TEXT);
</code></pre> </div></li><li><h3 class="title"><i class="fa fa-chevron-right"></i> Observer()</h3><div class="content"><p>Patrón que ante un cambio del observado notfica a quien actua cuando estos cambios suceden. Una versión más completa del patrón se puede encontrar en el API MutationObserver.</p><p>Para obtener la instancia del patrón debemos ir al espacio de nombres: patterns.observer.instance;</p><p>En nuestro ejemplo tenemos dos objetos quienes serán los observados, se envian al servidor(simulado) para que éste cambie al observado y luego notifique al observador que lo cambio.</p><p>Para agregar un nuevo observado se debera dar un nombre y un método quien sera ejecutado en cada cambio, para esta versión del observer se debe notificar al observador que cambio el observado y el ejecutara el método registrado.</p> <pre><code>
	var command = patterns.command.instance,
		METHODS = { serverWork: 'trabajoServidor' },
		TEXT = 'I Like ',
		observador = patterns.observer.instance;
		
	var observadoLikeMusic = { name: 'Music', likes: '' }, 
		observadoLikeGames = { name: 'Games', likes: '' };

	// Se agregan los observador
	observador.add(observadoLikeMusic.name, fnPrint);
	observador.add(observadoLikeGames.name, fnPrint);

	// Trabajo del Servidor
	command.on(METHODS.serverWork, function(observed) {
		observed.likes = TEXT + observed.name;
		// Se notifica al observador que el observado cambio
		observador.notify(observed.name, observed);
	});	

	// Imprimir
	function fnPrint(objectToPrint) {
		console.log(objectToPrint);
	}

	// Se incia el trabajo del servidor
	command.trigger(METHODS.serverWork, observadoLikeMusic);
	command.trigger(METHODS.serverWork, observadoLikeGames);
</code></pre> </div></li><li><h3 class="title"><i class="fa fa-chevron-right"></i> Singleton()</h3><div class="content"><p>Patrón que solo permite una instancia en memoria, aquí simplificamos su uso para no tener que hacer una validación si ya esta creado o no un objeto, similar a esto: <i>var objeto = objeto || {}</i>.</p><p>Para obtener usarlo debemos ir al espacio de nombres: patterns.singleton, éste método recibe la referencia del cual queremos solo una instancia en memoria, y una función encargada de crear esa instancia;</p><p>En nuestro ejemplo crearemos un objeto con un contados de instancias por si se llega a instanciar más de una vez el mismo objeto.</p> <pre><code>
	var contadorInstancias = 0,
		referenciaObjeto;

	function ObjetoAInstanciar() {
		this.numeroInstancias = ++contadorInstancias;
	}

	function getInstance() {
		return new ObjetoAInstanciar();
	}

	// 1
	referenciaObjeto = getInstance();
	console.log(referenciaObjeto.numeroInstancias);
	// 2
	referenciaObjeto = getInstance();
	console.log(referenciaObjeto.numeroInstancias);
	// 3
	referenciaObjeto = patterns.singleton(referenciaObjeto, getInstance);
	console.log(referenciaObjeto.numeroInstancias);
	// 3
	referenciaObjeto = patterns.singleton(referenciaObjeto, getInstance);
	console.log(referenciaObjeto.numeroInstancias);
	// 4
	referenciaObjeto = getInstance();
	console.log(referenciaObjeto.numeroInstancias);
</code></pre> </div></li>