<li><h3 class="main">Espacio de Nombres</h3></li><li><h3 class="title"><i class="fa fa-chevron-right"></i> Namespace()</h3><div class="content"><p>Nuestro código puede estar mejor estructurado con espacios de nombres, así podemos dividir funcionalidades dentro de la aplicación. Hay diferentes formas de crearlos, por ejemplo:</p> <pre><code>var myApp = {};
myApp.tools = {};
myApp.tools.fnPrint = function (text) {
	console.log(text);
};
myApp.tools.fnPrint('¡Hola Luna!');
</code></pre> <p>La solución propuesta para crear un espacio de nombres, es dentro de una única función, dentro de <b>jmain.js</b> se encuentra la función Namespace. La cual crea un espacio de nombres, por cada instancia, ésta tendrá una función fnAddNS para crear un nuevo espacio de nombres, esta función recibe el nombre para el espacio de nombres y retorna un objeto vacio.</p> <pre><code>var myApp = new Namespace();
myApp.fnAddNS('tools');
myApp.tools.fnPrint = function (text) {
	console.log(text);
};
myApp.tools.fnPrint('¡Hola Luna!');</code></pre> <p>Otra característica de usar espacio de nombres, es encapsular tanto variables como métodos, para esto se puede usar el patrón de diseño modular, para la creación de esta técnica se usa una función anónima autoejecutable, que retorne la funcionalidad.</p> <pre><code>var myApp = new Namespace();
(function () {
	this.fnPrint = function (text) {
		console.log(text);
	};
}).call(myApp.fnAddNS('tools'));
myApp.tools.fnPrint('¡Hola Luna!');

// Otra forma de usar el plugin es pasando el espacio de nombre
var nsMyApp = new Namespace('tools.printer');
nsMyApp.tools.printer = myApp.tools;
nsMyApp.tools.printer.fnPrint('¡Hola de nuevo!');</code></pre> </div></li><li><h3 class="title"><i class="fa fa-chevron-right"></i> fnImport()</h3><div class="content"><p>Busca en la variable window el espacio de nombres ingresado como parámetro, se retornará el objecto que coincida con el valor buscado.</p> <pre><code>var myApp = new Namespace();
(function () {
	this.fnPrint = function (text) {
		console.log(text);
	}; // end function
}).call(myApp.fnAddNS('tools'));

(function() {
	var fnPrint = fnImport('myApp.tools.fnPrint');

	this.fnSum = function() {
		var total = 0;
		for(var i in arguments)
			total += arguments[i]; 
		
		fnPrint(total);
	}; // end function
}).call(myApp.fnAddNS('calc'));

myApp.calc.fnSum(1,1,1);</code></pre> </div></li><li><h3 class="title"><i class="fa fa-chevron-right"></i> fnDepenciesTrue()</h3><div class="content"><p>Verifica si los elementos ingresados como parámetros son diferentes de: <i>null, undefined y 0</i>. Esto para verificar que los elementos importados sean validos.</p> <pre><code>var myApp = new Namespace();
/*
(function () {
	this.fnPrint = function (text) {
		console.log(text);
	}; // end function
}).call(myApp.fnAddNS('tools'));
*/

(function() {
	var fnPrint = fnImport('myApp.tools.fnPrint');
	if(!fnDepenciesTrue(fnPrint)) {
		console.log('Se requiere el nombre de espacio myApp.tools.fnPrint');
		return;
	} // end if

	this.fnSum = function() {
		var total = 0;
		for(var i in arguments)
			total += arguments[i]; 
		
		fnPrint(total);
	}; // end function
}).call(myApp.fnAddNS('calc'));</code></pre> </div></li>