<li><h3 class="main">Arreglos</h3></li><li><h3 class="title"><i class="fa fa-chevron-right"></i> fnSortBy()</h3><div class="content"><p>Los arreglos nativos ya contienen una función de ordenar <i>sort</i>, pero esta solo trabaja con tipos de datos nativos, cuando tenemos un arreglo con objetos complejos se empieza a complicar un poco el trabajo, esta función se usa para que ordenar sea algo sencillo de hacer.</p><pre><code>function fnPrint() {
	Array.prototype.slice.call(arguments).forEach(function(item) {
		console.log(JSON.stringify(item));
	});
}; // end function fnPrint

var arreglo = [
	{ nombre: "Simón", apellido: "Belmont", edad: 21 },
	{ nombre: "Gabriel", apellido: "Belmont", edad: 200 },
	{ nombre: "Trevor", apellido: "Belmont", edad: 100 },
	{ nombre: "Pedro", apellido: "Coral", edad: 35 }
];

fnPrint({ m: 'Sin Ordenar' });
fnPrint(arreglo);
fnPrint({ m: '' });

var nuevoArreglo = [
	{ nombre: "Simón", apellido: "Belmont", edad: 21 },
	{ nombre: "Gabriel", apellido: "Belmont", edad: 200 },
	{ nombre: "Trevor", apellido: "Belmont", edad: 100 },
	{ nombre: "Pedro", apellido: "Coral", edad: 35 }
];

nuevoArreglo.fnSortBy(function() { return this.edad });

fnPrint({ m: 'Ordenados por edad' });
fnPrint(nuevoArreglo);
fnPrint({ m: '' });

nuevoArreglo.fnSortBy(function() { return this.nombre });

fnPrint({ m: 'Ordenados por nombre' });
fnPrint(nuevoArreglo);
fnPrint({ m: '' });</code></pre></div></li><li><h3 class="title"><i class="fa fa-chevron-right"></i> fnFind()</h3><div class="content"><p>Encontrar elementos simples en un arreglo es facil, cuando debemos trabajar con objetos complejos empieza el trabajo duro, podremos usar esta función para hacerlo más rápido, como parametro recibirá una función, que a su vez recibirá como parametro el elemento que se evalará dentro de la función para así retornar el resultado de una expressión.</p><p>El resultado traerá el primer objeto que coincida con la expresíón dentro de la función, para obtener todos los elementos de deberá pasar otro parámetro un 1 o un true, para que con ellos se retornen los elementos.</p><pre><code>function fnPrint() {
	Array.prototype.slice.call(arguments).forEach(function(item) {
		console.log(JSON.stringify(item));
	});
}; // end function fnPrint

var arreglo = [
	{ nombre: "Simón", apellido: "Belmont", edad: 21 },
	{ nombre: "Gabriel", apellido: "Belmont", edad: 200 },
	{ nombre: "Trevor", apellido: "Belmont", edad: 100 },
	{ nombre: "Pedro", apellido: "Coral", edad: 35 }
];

fnPrint({ m: 'Sin Filtrar' });
fnPrint(arreglo);
fnPrint({ m: '' });

var nuevoArreglo = arreglo.fnFind(function(e) { return e.edad > 100 });

fnPrint({ m: 'Mayores a 100 años de edad' });
fnPrint(nuevoArreglo);
fnPrint({ m: '' });

nuevoArreglo = arreglo.fnFind(function(e) { return e.apellido.indexOf('Belmont') > -1 ? 1 : 0 }, 1);

fnPrint({ m: 'Con apellildo Belmont' });
fnPrint(nuevoArreglo);
fnPrint({ m: '' });</code></pre></div></li>