@charset "utf-8";
/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url('font-awesome.min.css');

/*@import url('jquery-ui.min.css');*/
@import url('onepage-scroll.css');

/* Reset HTMl */
/* Comienzo Resest estilos */
*,
*:after,
*:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0; }
* { border-collapse: collapse; border-spacing: 0; }
* { font-family: Verdana; margin: 0; padding: 0; outline: none; text-rendering: optimizelegibility; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
    *:focus { outline: none; }
html { -webkit-overflow-scrolling: touch; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, body { height: 100%; }
/* Fin Resest estilos */

b { font-weight: bold; }
h1, h2, h3, h4, h5, h6, b { font-weight: bold; }

/* Contenido */
section .buttons input[type="submit"], section .buttons input[type="button"] { border: 1px solid; padding: 10px 15px; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); }
section article input[type="text"], section article select, section article textarea, select, textarea,
input[type="text"], input[type="password"], input[type="email"], input[type="url"] { border: 1px solid #a1a1a1; border-radius: 2px; max-width: 230px; padding: 5px 5px 5px 25px; -moz-transition: width .25s; -webkit-transition: width .25s; -o-transition: width .25s; transition: width .25s; width: 200px; }
section .buttons { padding: 10px 15px; text-align: center; }

/* Links de regreso */
a.back { float: right; }
    a.back:hover { text-decoration: underline; }

/* BACKGROUND LOADING */
.bg-fixed { display: none; z-index: 2999; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: White; }
.bg-opacity { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=36)"; filter: alpha(opacity=36); -moz-opacity: 0.36; -khtml-opacity: 0.36; opacity: 0.36; }
.bg-loading { z-index: 3000; position: fixed; top: 47.2%; left: 48.6%; }
    .bg-loading b { display: inline-block; padding-bottom: 5px; vertical-align: middle; }

/* Div con dos botones */
.button { background-color: rgba(0, 0, 0, 0.8); color: #fff; cursor: pointer; display: inline-block; padding: 5px 8px; text-align: center; text-decoration: none; width: auto; }
    .button:hover, .button:focus { background-color: #ddd; color: #555; }

.buttons.col2 { text-align: left; }
    .buttons.col2 input[type="submit"] { display: inline-block; vertical-align: top; }
        .buttons.col2 input[type="submit"]:last-child, .buttons.col2 input[type="button"]:last-child, .buttons.col2 button:last-child { float: right; }

/* Div con tres botones */
.buttons.col3 { text-align: center; }
    .buttons.col3 input[type="submit"]:first-child, .buttons.col3 input[type="button"]:first-child, .buttons.col3 button:first-child { float: left; }
    .buttons.col3 input[type="submit"]:last-child, .buttons.col3 input[type="button"]:last-child, .buttons.col3 button:last-child { float: right; }

/* Para centrar el elemento */
.center { margin-left: auto !important; margin-right: auto !important; }
.tCenter { text-align: center !important; }

/* Formulario structura html5 sin terminar faltan legends*/
.form h4 { font-weight: bold; padding: 5px 18px; }
    .form h4 a.back { font-size: 12px; display: block; margin-top: 2px; }
.form ul { font-size: 12px; list-style: none outside; margin: 20px auto 10px; width: 100%; }
    .form ul li { padding-bottom: 10px; padding-right: 5px; }
        .form ul li label { display: inline-block; text-align: right; vertical-align: middle; width: 49%; }
        .form ul li input[type="file"] { width: 130px; font-size: 0.8em; }
        .form ul li input:focus, .form ul li textarea:focus, .form ul li select:focus,
        /* Para versiones anteriores */
        .form table input:focus, .form table textarea:focus, .form table li select:focus { border-radius: 2px; width: 230px; }
/* Validación para controles HTML5 */
/* === HTML5 validation styles === */
.form input:required, .form textarea:required, .form select:required { background: url(../img/red_asterisk.png) no-repeat 5px center #fff; }
    .form input:required:valid, .form textarea:required:valid, .form select:required:valid { background-image: url(../img/valid.png); box-shadow: 0 0 5px #5cd053; border-color: #28921f; }
.form input:focus:invalid, .form textarea:focus:invalid, .form select:focus:invalid { background-image: url(../img/invalid.png); box-shadow: 0 0 5px #d45252; border-color: #b03535; }
.form select { padding-left: 20px; }

/* Formulario left */
.form.left > h4 { border-bottom: 1px solid; margin-left: auto; margin-right: auto; }
.form.left:last-child { margin-bottom: 5px; }
.form.left > table, .form.left > div > table { margin-left: auto; margin-right: auto; width: 90%; }
    .form.left > table tr td:first-child, .form.left > div table tr td:first-child { padding-right: 5px; text-align: left; width: 40%; }
    .form.left > table tr td:last-child, .form.left > div table tr td:last-child { padding-left: 5px; text-align: left; width: 59%; }

/* Gridviews */
/* Inicio de lista(dridview) */
.ui-widget-header select, .ui-widget-header input[type="text"] { width: auto !important; }
.dataTables_wrapper .ui-button { font-weight: normal; }
.icons { margin: 0; padding: 0; }
    .icons li { margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left; list-style: none; }
    .icons span.ui-icon { float: left; margin: 0 4px; }
.dataTables_wrapper { box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); border-radius: 6px; }
/* Grilla */
.grilla { border: 1px solid; padding-top: 20px; }
.grilla { margin: 0 auto; width: 100%; }
    .grilla thead tr th { border-bottom: 1px solid; font-weight: bold; height: 26px; padding: 2px 5px; }
    .grilla tbody tr td { border: 1px solid; padding: 3px 5px; text-align: center; }
        .grilla tbody tr td:first-child { border-left: 1px solid; }
        .grilla tbody tr td:last-child { border-right: 1px solid; }
    .grilla tbody tr:last-child td { border-bottom: 1px solid; }

/* Tooltip para infromaci{on de ayuda */
.inf-tooltip { height: auto; width: 200px; white-space: normal !important; }

/* Formulario de login */
.login { margin-left: auto; margin-right: auto; padding-bottom: 0; width: 400px !important; }
    .login table { margin-bottom: 5px; margin-top: 20px; }
    .login tabl tr td { vertical-align: middle !important; }
    .login table tr td input { width: 80%; }

/* Tooltip de ayuda se activa con un a:hover */
.tooltip { cursor: pointer; font-weight: bold; }
.tooltipHelp { display: inline; left: 0; position: relative; text-decoration: none; top: 0px; white-space: nowrap; }
    .tooltipHelp:hover::before { border: solid; border-color: transparent #ff8f35; border-width: 6px 6px 6px 0; bottom: 21px; content: ""; left: 95px; top: 0; position: absolute; z-index: 95; }
    .tooltipHelp:hover::after { background: #ff8f35; border-radius: 5px; color: #fff; content: attr(data-tt); left: 100px; padding: 5px 15px; position: absolute; top: -5px; width: auto; z-index: 95; }

/* Tootltip para formulario con validaciones HTML5 */
.tooltipForm { background: #d45252; border-radius: 3px 3px 3px 3px; color: white; margin-left: 8px; padding: 4px 6px; z-index: 999; /* hints stay above all other elements */ position: absolute; /* allows proper formatting if hint is two lines */ display: none; }
    .tooltipForm::before { content: "\25C0"; color: #d45252; position: absolute; left: -6px; top: 1px; }
.form input:focus + .tooltipForm, .form select:focus + .tooltipForm { display: inline; }
.form input:required:valid + .tooltipForm { background: #28921f; }
    .form input:required:valid + .tooltipForm::before { color: #28921f; }

/* Tooltip para validación en exploradores antiguos */
.vld-tooltip, .inf-tooltip { background: #f5f6f6; /* FF3.6+ */ background: -moz-linear-gradient(top, #f5f6f6 0%, #e3e4ea 50%, #f5f6f6 100%); /* Chrome,Safari4+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(50%,#e3e4ea), color-stop(100%,#f5f6f6)); /* Chrome10+,Safari5.1+ */ background: -webkit-linear-gradient(top, #f5f6f6 0%,#e3e4ea 50%,#f5f6f6 100%); /* Opera 11.10+ */ background: -o-linear-gradient(top, #f5f6f6 0%,#e3e4ea 50%,#f5f6f6 100%); /* IE10+ */ background: -ms-linear-gradient(top, #f5f6f6 0%,#e3e4ea 50%,#f5f6f6 100%); /* W3C */ background: linear-gradient(to bottom, #f5f6f6 0%,#e3e4ea 50%,#f5f6f6 100%); /* IE6-9 */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); text-align: left; font-size: 11px; border: 1px solid #fff; border-radius: 5px; box-shadow: 0 0 7px rgba(0,0,0,0.6); color: #555; display: inline-block; padding: 4px 7px; white-space: nowrap; position: absolute; z-index: 2998; }

/* Popup para mostrar información */
/* Inicio popup */
#lightbox.lightbox { display: none; left: -999em; opacity: 0; position: absolute; }
/* Contenido lightbox */
#lightbox.in .content, #lightbox.out .content { background: #fff; border-radius: 8px; left: 5%; padding: 10px; position: absolute; width: 90%; z-index: 99; }
    #lightbox.in .content > div, #lightbox.out .content > div { padding: 5px 20px 20px; }
#lightbox.in .bg, #lightbox.out .bg { background: rgba(0, 0, 0, 0.8); bottom: 0; cursor: pointer; height: 100%; left: 0; position: fixed; right: 0; top: 0; z-index: 1; }
/* Botón cerrar lightbox */
#lightbox.in .close, #lightbox.out .close { border: 3px solid rgba(204,204,204,1); border-radius: 100%; color: rgba(204,204,204,1); cursor: pointer; display: inline-block; font-size: 1em; padding: 0 3px; position: absolute; right: 8px; text-decoration: none; text-align: right; top: 8px; }
    #lightbox.in .close:hover, #lightbox.out .close:hover { border-color: #000; box-shadow: 2px 2px 2px rgba(0,0,0,0.2); color: #000; text-shadow: 2px 2px 2px rgba(0,0,0,0.2); }
#lightbox.bg { text-indent: -999em; }
/* Animación para mostrar el lightbox */
#lightbox.in { animation: show-animate 1s ease; -moz-animation: show-animate 1s ease; -ms-animation: show-animate 1s ease; -o-animation: show-animate 1s ease; -webkit-animation: show-animate 1s ease; bottom: 0; display: block; left: 0; right: 0; }
    #lightbox.in .content { animation: lightbox-animate 1s ease; -moz-animation: lightbox-animate 1s ease; -ms-animation: lightbox-animate 1s ease; -o-animation: lightbox-animate 1s ease; -webkit-animation: lightbox-animate 1s ease; position: fixed; top: 5%; }
/* Animación para ocultar el lightbox */
#lightbox.out { animation: fade-animate 1s ease; -moz-animation: fade-animate 1s ease; -ms-animation: fade-animate 1s ease; -o-animation: fade-animate 1s alternate; -webkit-animation: fade-animate 1s ease; }
    #lightbox.out .content { animation: lightbox-out 1s ease; -moz-animation: lightbox-out 1s ease; -ms-animation: lightbox-out 1s ease; -o-animation: lightbox-out 1s alternate; -webkit-animation: lightbox-out 1s ease; }
/* Fin popup*/

#spnMessage { line-height: 34px; color: #444; text-shadow: 0 1px 3px rgba(0,0,0,0.1); }

/* Medida para el elemento 70% */
.marginb30 { margin-bottom: 30px !important; }
.marginb20 { margin-bottom: 20px !important; }
.margin20 { margin: 20px !important; }
/* Separador en la experiencia laboral */
.separator { border-bottom: 1px dashed; display: block; margin: 0 auto 25px; padding-bottom: 5px; width: 65%; }
    .separator.left { width: 95%; }
.tCenter { text-align: center !important; }
.width60p { width: 60% !important; }
.width70px { width: 70px !important; }
.width80px { width: 80px !important; }
.width90px { width: 90px !important; }
.width100px { width: 100px !important; }
.widthAut { width: auto !important; }
.width70p { width: 70% !important; }

/* Animación para mostrar cualquier elemento con el opacity */
@keyframes show-animate {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-moz-keyframes show-animate {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-o-keyframes show-animate {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes show-animate {
    from { opacity: 0; }
    to { opacity: 1; }
}
/* Animación para ocultar cualquier elemento con el opacity */
@keyframes fade-animate {
    from { opacity: 1; }
    to { opacity: 0; }
}

@-moz-keyframes fade-animate {
    from { opacity: 1; }
    to { opacity: 0; }
}

@-o-keyframes fade-animate {
    from { opacity: 1; }
    to { opacity: 0; }
}

@-webkit-keyframes fade-animate {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

/* Animación para mostrar el lightbox */
@keyframes lightbox-animate {
    0% { top: -100%; }
    70% { top: 8%; }
    100% { top: 5%; }
}

@-moz-keyframes lightbox-animate {
    0% { top: -100%; }
    70% { top: 8%; }
    100% { top: 5%; }
}

@-o-keyframes lightbox-animate {
    0% { top: -100%; }
    70% { top: 8%; }
    100% { top: 5%; }
}

@-webkit-keyframes lightbox-animate {
    0% { top: -100%; }
    70% { top: 8%; }
    100% { top: 5%; }
}
/* Animación para ocultar el lightbox */
@keyframes lightbox-out {
    0% { top: 5%; }
    30% { top: 8%; }
    100% { top: -100%; }
}

@-moz-keyframes lightbox-out {
    0% { top: 5%; }
    30% { top: 8%; }
    100% { top: -100%; }
}

@-o-keyframes lightbox-out {
    0% { top: 5%; }
    30% { top: 8%; }
    100% { top: -100%; }
}

@-webkit-keyframes lightbox-out {
    0% { top: 5%; }
    30% { top: 8%; }
    100% { top: -100%; }
}
