@charset "utf-8";

/* Sección para formularios */
.form { background-color: #f0f4f4; border: 1px solid rgba(0,0,0,0.4); border-radius: 8px; box-shadow: 0 0 10px 1px rgba(0,0,0,0.24); margin: 0 auto 20px; padding-bottom: 8px; width: 80%; }
    .form h4 { background: -webkit-linear-gradient(top, #e8e8e8, #ffffff); background: -moz-linear-gradient(top, #e8e8e8, #ffffff); background: -o-linear-gradient(top, #e8e8e8, #ffffff); background: -webkit-linear-gradient(top, #e8e8e8, #ffffff); border-bottom: 1px solid #ccc; border-radius: 8px 8px 0 0; color: #5c72c1; filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e8e8e8', EndColorStr='#ffffff'); border-radius: 8px 8px 0 0; color: #7a7a7a; font-weight: bold; height: 35px; padding: 9px 10px; text-align: left; }
        .form h4 i { display: inline-block; font-size: 1.2em; margin-right: 10px; position: relative; top: 0; }

/* Controles de formularios */
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, input[type="file"]:focus, input[type="email"]:focus, input[type="url"]:focus,
input[type="password"]:hover, input[type="text"]:hover, textarea:hover, input[type="file"]:hover, input[type="email"]:hover, input[type="url"]:hover { background-color: #ffffcc; }

/* Sección para botones */
.buttons input[type="button"], .buttons input[type="submit"] { background-color: #4b4b4a; background-color: #4b4b4b; color: #cccccc; }
    .buttons input[type="button"]:hover, .buttons input[type="submit"]:hover, .buttons input[type="button"]:focus, .buttons input[type="submit"]:focus { box-shadow: 0 0 10px 2px rgba(0,0,0,0.24); color: #fff; }