@charset "utf-8";

/* Inicio de lista(dridview) */
.grilla { border-color: #000; }
/*.grilla thead tr th { background-color: #dfdfe0; border-bottom-color: #5a5b5d; color: #5a5b5d; }
    .grilla tbody tr td { background-color: #f2f2f3; border-color: #cdcece; color: #58595b; }
        .grilla tbody tr td:first-child { border-left-color: #5a5b5d; }
        .grilla tbody tr td:last-child { border-right-color: #5a5b5d; }
    .grilla tbody tr:last-child td { border-bottom-color: #5a5b5d; }*/
